$pinkOrange: #FF835B;
$darkBlue: #0A1638;
$grey: #E6E6ED;
$white: #E6E6ED;
$purple: #BEBDF3;
$pink: #ff8761;

$small: 14px;
$primary: 18px;
$large: 24px;
$xlarge: 46px;

$headlineFont: 'Lato', sans-serif;
$primaryFont: 'PT Sans', sans-serif;

