$pinkOrange: #FF835B;
$darkBlue: #0A1638;
$grey: #E6E6ED;
$white: #ffffff;
$black: #000000;
$purple: #BEBDF3;
$pink: #ff8761;

$scrollbar: rgba(10, 22, 56, 0.3);
$scrollbarThumb: rgba(10, 22, 56, 0.5);

$xsmall: 12px;
$small: 14px;
$primary: 18px;
$large: 24px;
$xlarge: 46px;

$headlineFont: 'Lato', sans-serif;
$primaryFont: 'PT Sans', sans-serif;

