// Palette 
$pinkOrange: #FF835B;
$darkBlue: #0A1638;
$grey: #E6E6ED;
$white: #E6E6ED;
$purple: #BEBDF3;
$pink: #FF8660;

// font-sizes
$small: 14px;
$primary: 18px;
$large: 24px;
$xlarge: 46px;

// font-family
$fontFamily: 'Lato', sans-serif;

// todo: add padding margins standard

